.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, 0.9) !important;
}
.placeholder {
	padding: 15px;
}
.placeholder .no-padding {
	margin-left: -15px;
	margin-right: -15px !important;
	width: auto !important;
}